.wrapper .container {
  /* Global override hover cho bảng chỉ trong phần Home */
  :global(.ant-table-tbody > tr:hover > td) {
    background: none;
  }

  :global(.solved-row > td) {
    background: #5eba07 !important;
    
  }

  :global(.solved-row:hover > td) {
    background: #5eba07 !important;
  }
}

@media screen and (max-width: "768px") {
  .detail-right {
    display: none;
  }

  .search-container {
    display: inline-block;
  }
  .search-job {
    margin-bottom: 14px;
    padding: 0;
    svg {
      right: 10px;
      top: 10px;
    }
  }

  .title {
    width: 350px;
    font-size: 25px;
  }

  .search-location{
    svg{
      right: 10px;
      top: 10px;
    }
    
  }
  .search-btn {
    margin-top: 10px;
    margin-left: 0;
  }

  .social-heading {
    h1 {
      font-size: 28px;
    }
  }
}
